- if @user
  %div
    名前:
    = @user.name
  - if @image
    %div
      = image_tag "data:image/jpeg;base64,#{@image}"
  %div
    ユーザーコード:
    = @user.code
  %div
    TEL:
    = @user.tel
  %div
    メールアドレス:
    = @user.email
