.signup-form
  // TODO: send使わないようにしたい。
  = form_for(user, url: send(user.send_path)) do |f|
    = render "shared/error_messages", object: f.object

    .signup-form__field-container
      - if user.CorporateUser?
        = f.text_field :name, placeholder: "企業名", class: "signup-form__field"
      - else
        = f.text_field :name, placeholder: "名前", class: "signup-form__field"

    .signup-form__field-container
      = f.text_field :tel, placeholder: "電話番号（000-0000-0000）", class: "signup-form__field"

    .signup-form__field-container
      = f.text_field :email, type: :email, placeholder: "メールアドレス", class: "signup-form__field"

    .signup-form__field-container
      = f.text_field :password, type: :password, placeholder: "パスワード", class: "signup-form__field"

    .signup-form__field-container
      = f.text_field :password_confirmation, type: :password, placeholder: "パスワードの確認", class: "signup-form__field"

    - if user.CorporateUser?
      = f.fields_for :corporate_information do |info|

        .signup-form__field-container
          = info.text_field :address, type: :address, placeholder: "住所", class: "signup-form__field"

        .signup-form__field-container
          = info.text_field :detail, type: :text, placeholder: "備考", class: "signup-form__field"

    .signup-form__button-container
      = f.submit "登録", class: "signup-form__button"
