.tradelog{ data: { controller: "fill-address" } }
  %h1.tradelog__title 取引履歴
  .trade__table
    .tradelog__items
      - @trades&.each do |trade|
        .tradelog__item-container
          - if trade.received?(current_user)
            .tradelog__name-label
              = change_sender_name_from_admin(trade)
          - else
            .tradelog__name-label
              = trade.receiver.name

          .trade__log-amount
            - if trade.received?(current_user)
              .tradelog__symbol.-plus
                ＋
            - else
              .tradelog__symbol.-minus
                ー
            .tradelog__amount-label
              = "¥ #{trade.amount}"
          .trade__type-container
            %span{ class: "trade__type trade__#{trade.type}"}
              = trade.type_ja
          .tradelog__date-label
            = trade.created_at.strftime("%Y/%m/%d %H:%M")
  %div
    %input{ type: :text, data: { target: "fill-address.zipCode" } }
    %label 郵便番号
    %input{ type: :button, value: "自動補完",data: { action: "click->fill-address#fillIn" } }
  %div
    %input{ type: :text, data: { target: "fill-address.pref" } }
    %label 県
  %div
    %input{ type: :text, data: { target: "fill-address.city" } }
    %label 市区町村
