- if @user
  %div
    名前:
    = @user.name
  - if @image
    %div
      = image_tag "data:image/jpeg;base64,#{@image}"
  %div{ data: { controller: "clipboard" } }
    ユーザーコード:
    %input{ value: @user.code, data: { target: "clipboard.source" }, input_html: { readonly: true } }
    = button_tag "copy", type: :button, data: { action: "clipboard#copy" }
  %div
    TEL:
    = @user.tel
  %div
    メールアドレス:
    = @user.email
  %div
    住所:
    = @corporate_information&.address
  %div
    詳細:
    = @corporate_information&.detail
