%div
  名前:
  = @user.name
%div
  ユーザーコード:
  = @user.code
%div
  TEL:
  = @user.tel
%div
  メールアドレス:
  = @user.email
%div
  MPayクレジット番号:
  = @credit_payment.decrypted_number
%div
  住所:
  = @corporate_information&.address
%div
  詳細:
  = @corporate_information&.detail
// = @user.trades
