.header
  .header__title-container
    .header__title
      = image_tag "icon.png", alt: 'Mpay', width: '130px', class: 'icon'
  %ul.header__sub-menu
    %li.header__sub-menu-item
      = link_to "TOP", "#", class: "header__sub-menu-link"
    %li.header__sub-menu-item
      = link_to "MPayで出来ること", "#", class: "header__sub-menu-link"

    %li.header__sub-menu-item
      = link_to "新規登録", "#", class: "header__sub-menu-link"
    %li.header__sub-menu-item
      = link_to "ログイン", "#", class: "header__sub-menu-link"
    %li.header__sub-menu-item
      = link_to "問い合わせ", "#", class: "header__sub-menu-link"
